.logo-icon, #Passkey {
	width: 32px;
}
.logo-icon{
	display: block;
	margin: auto;
}
#Passkey{
	display: inline-block;
}
.mod-login__submit.form-group {
	margin: var(--bs-gutter-x) auto;
}
.offline-card .header {
	text-align: center;
	display: block;
}
